# Python
__pycache__/
*.pyc
# Streamlit
.streamlit/
# Env
.envdata/*.duckdb
data/*.parquet
logs/
certus.egg-info/
db/


# Certus backups & DB
backups/*.zip
data/*.duckdb

# Certus large/local files
backups/*.zip
data/*.duckdb
